<html>
    <head>
        <title>RasPi Steam</title>
        <meta charset="utf-8" />
    </head>
    <body>
        Last profile update : {{ lastProfileUpdate }}
        {{ numberOfProfileFiles }}
        {{ lastInventoryUpdate }}
        {{ numberOfInventoryTables }}
    </body>
</html>